code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Cool Grey
  Cool Grey 0: #1C2A39
  Cool Grey 1: #2C3A49
  Cool Grey 2: #3C4A59
  Cool Grey 3: #4C5A69
  Cool Grey 4: #5C6A79
  Cool Grey 5: #6C7A89
  Cool Grey 6: #7C8A99
  Cool Grey 7: #8C9AA9
  Cool Grey 8: #9CAAB9
  Cool Grey 9: #ACBAC9
  Cool Grey 10: #BCCAD9
  Cool Grey 11: #C5D3E2
   */

/* Organizational */
* {
  padding: 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

#root {
  width: 100%;
}

body {
  background-color: #1c2a39;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.spacer10 {
  padding: 0;
  height: 10px;
}

h1,
h2,
h3,
h4,
p {
  font-weight: 500;
  color: white;
  /* padding: 0; */
}

.dark {
  color: black;
}

.container-outer {
  width: 95%;
  padding: 10px;
  margin: 20px auto 10px;
  background-color: #8c9aa9;
  border-radius: 5px;
}

.container-inner {
  width: 30%;
  margin: 10px auto 5px;
  background-color: #3c4a59;
  padding: 10px;
  border-radius: 5px;
}

.container-inner p {
  line-height: 1.5rem;
  text-align: left;
}

.container-inner .img-parent {
  width: 100%;
}

.container-inner .img-parent img {
  display: block;
  width: 100%;
  height: auto;
}
/* Lists: */
/* 
ul {
  width: 80%;
  padding: 10px;
  margin: 10px auto;
  list-style: none;
}

li {
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  margin: 5px;
  color: #1c2a39;
} */

/* Tables: */

table {
  table-layout: fixed;
  width: 75%;
  background-color: white;
  padding: 10px;
  margin: 10px auto 20px;
}

tr {
  text-align: center;
  font-weight: 400;
  color: black;
}

th {
  font-weight: 500;
  text-align: left;
}

td {
  text-align: left;
}

/* Button (General Use) */

button {
  background-color: #acbac9;
  border: none;
  color: #111;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px auto;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #fff;
}

button {
  background-color: #acbac9;
  border: none;
  color: #111;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px auto;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #fff;
}

button.us-state {
  width: 210px;
  background-color: #9caab9;
  border: none;
  color: #111;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
}

button.us-state:hover {
  background-color: #fff;
}

/* Form (General Use)*/

.h-form {
  width: 50%;
  margin: 25px auto;
  border: 1px solid #acbac9;
  padding: 15px 15px 0 15px;
  box-sizing: border-box;
  border: 2px solid #8c9aa9;
  border-radius: 5px;
}

.h-form .h-label {
  display: block;
  padding: 7px;
  box-sizing: border-box;
  background-color: #9caab9;
}

.h-form .h-input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  padding: 15px;
  font-size: 14px;
}

.h-form .h-btn {
  background-color: #7c8a99;
  color: white;
  display: block;
  margin: 15px auto;
  border: none;
  padding: 4px 10px;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
}

.h-form .h-btn:hover {
  background-color: #405368;
  cursor: pointer;
}

.h-form .h-btn:active {
  background-color: #5c6a79;
}

/* Navbar (Top)*/

nav {
  width: 100%;
  display: flex;
  background-color: #8c9aa9;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav .nav-item-group {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav li {
  font-size: 1.2em;
  font-weight: 600;
  margin: 20px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav h3:hover,
nav h3:active,
nav h2:hover,
nav h2:active {
  color: #111;
}

nav .selectedLink {
  color: yellowgreen;
}
